* {
    font-family: "Lucida Console", "Courier New", monospace;
}

.button {
    padding: 7px;
    border-radius: 3px;
}

.label {
    padding-top: 5px;
    width: 72px;
}

.input {
    padding: 5px;
    border-radius: 3px;
}
